{
   project =
   {
      description="#️⃣ A collection of hash functions";
      domain="github";
      name="mulle-data";
      user="mulle-c";
      repo="mulle-data";
      homepage="https://github.com/mulle-c/mulle-data";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🔀 Cross-platform C compiler glue (and some cpp conveniences)";
         domain="github";
         name="mulle-c11";
         repo="mulle-c11";
         url="https://github.com/mulle-c/mulle-c11";
         user="mulle-c";
      }
   );
   amalgamated =
   (
      {
         description="C99 translation of Geoff Pike's and Jyrki Alakuijala's FarmHash.";
         domain="clib";
         name="src/farmhash-c";
         repo="farmhash-c@*";
         url="https://github.com/mulle-c/farmhash-c@*";
         user="mulle-c";
      }
   );
}
